
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: flex-start; /* 上部に寄せる */
    align-items: flex-start;
    height: 100vh;
    flex-direction: column;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 40px; /* 上下左右に余白を追加 */
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0; /* 上部の余白を0に設定 */
    margin-bottom: 20px; /* 見切れないように下部の余白を追加 */
}

/* 他のスタイルは変更なし */
.input-container {
    margin-bottom: 20px;
    width: 100%;
}

    .input-container label {
        display: block;
        margin-bottom: 5px;
    }

input[type="number"], select {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    box-sizing: border-box;
}

/* 計算結果の表示エリア */
.result {
    padding: 10px;
    background-color: #f0f0f0;
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    white-space: pre-line;
}

.results-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.result-box {
    width: 48%;
    padding: 10px;
    margin: 10px 0;
    background-color: #f0f0f0;
    box-sizing: border-box;
    text-align: center;
}

.devices-table {
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
}

    .devices-table th, .devices-table td {
        padding: 15px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .devices-table th {
        background-color: #f0f0f0;
    }

.device-name {
    font-weight: bold;
}

.device-link img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.device-link {
    display: block;
    text-decoration: none;
}

.devices-table td {
    width: 300px;
    height: 126px;
    text-align: center;
}

.devices-table img.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.devices-table img.purchase-image {
    width: 50px;
}

/* 広告 */
.ad-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 100;
}

    .ad-container img {
        width: 200px;
        height: auto;
    }
